---
import MainLayout from "../layouts/MainLayout.astro";

export async function getStaticPaths() {
  return [{ params: { id: 1 } }];
}

const { id } = Astro.params;

console.log(id);
---

<MainLayout>
  <p>This is the {id} page</p>
</MainLayout>
