---
import Navbar from '../../components/Navbar';
import SmoothieForm from '../../components/SmoothieForm';
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout>
  <Navbar />
  <main class="mx-4">
    <SmoothieForm client:load />
  </main>
</MainLayout>
