---
import supabase from "../supabase/client";
import SmoothieCard from "./SmoothieCard";

interface Smoothie {
  id: number;
  created_at: string;
  title: string;
  method: string;
  rating: number;
}

let fetchError: string | null = null;
let smoothies: Smoothie[] | null = null;

const { data, error } = await supabase
  .from("Smoothies")
  .select<"*", Smoothie>("*")
  .order("created_at", { ascending: false });

if (error) {
  fetchError = "Could not fetch the smoothies";
  smoothies = null;
  console.log(error);
}
if (data) {
  smoothies = data;
  fetchError = null;
}
---

<section class="pt-12 lg:px-32 lg:pt-32">
  {
    fetchError && (
      <p class="text-center text-xl font-bold text-rose-500">{fetchError}</p>
    )
  }
  {
    smoothies && (
      <div class="grid grid-cols-1 gap-4 md:grid-cols-3 lg:gap-5 xl:grid-cols-4">
        {smoothies?.map((smoothie) => (
          <SmoothieCard smoothie={smoothie} />
        ))}
      </div>
    )
  }
</section>
